header>h1{
    text-align: center;
    background-color: rgba(131, 43, 21, 0.308);
    color: black;
    border-radius: 8px;
}

.main-container{
    display: flex;
}

.container-item{
    border-style: double;
    border-color: saddlebrown;
    width: 100%;
    padding: 24px;
}

.container-item>h2{
    text-align: center;
}

.container-form{
    text-align: left;
    background-color: rgba(241, 255, 202, 0.3);
    padding: 24px;
}

.container-result{
    text-align: center;
    background-color: rgba(241, 255, 202, 0.3);
    padding-top: 8px;
    padding-bottom: 24px;
}

.container-form>div{
    padding: 8px;
}

.container-form>div>label{
    font-weight: bold;
}

.form-item{
    height: 24px;
    border: 0px;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.5);
}

button{
    border-style: 0;
    border: 0px;
    height: 32px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: lightblue;
    border-radius: 8px;
    transition: background-color 0.4s ease;
}

#calculate-button{
    background-color: bisque;
    color: black;
   
}

#calculate-button:hover{
    background-color: brown;
    color: white;
}

#reset-button:hover{
    background-color: navy;
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}