@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Animation Code */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}

@keyframes fadeBg {
    from {background-color: #333;}
    to {background-color: white;}
}

@keyframes slideIn {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }

}

body{
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

/* Section 1 */
header{
    animation: fadeInUp .1s ease-out;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 20px;
}

.title{
    color: black;
    animation: fadeOut 3s ease-in;
}

.main-container{
    animation: fadeIn 1.5s ease-in-out;
    display: flex;
}

.container-item{
    animation: fadeBg;
    animation-duration: 2s;
    background-color: white;
    border-style: double;
    border-color: saddlebrown;
    width: 100%;
    padding: 24px;
}

.container-item>h2{
    animation: slideIn;
    animation-duration: 2s;
    animation-direction: alternate;
    text-align: center;
}

.container-item>p, h3{
    animation: slideIn;
    animation-duration: 2s;
    animation-direction: alternate;
}

.container-form{
    text-align: left;
    background-color: rgba(241, 255, 202, 0.3);
    padding: 24px;
}

.container-result{
    text-align: center;
    background-color: rgba(241, 255, 202, 0.3);
    padding-top: 8px;
    padding-bottom: 24px;
}

.container-form>div{
    padding: 8px;
}

.container-form>div>label{
    font-weight: bold;
}

.form-item{
    height: 24px;
    border: 0px;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.5);
}

button{
    border-style: 0;
    border: 0px;
    height: 32px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: lightblue;
    border-radius: 8px;
    transition: background-color 0.4s ease;
}

.button1{
    background-color: bisque;
    color: black;
   
}

.button1:hover{
    background-color: brown;
    color: white;
}

.button2:hover{
    background-color: navy;
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Section 2 */
.bmi-result{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 24px;
}

.bmi-result>p{
    text-align: left;
    animation: slideIn;
    animation-duration: 2s;
    animation-direction: alternate;
}

/* Section 3 */
.diagnosis{
    text-align: center;
    background-color: white;
    padding: 10px;
    animation: fadeBg;
    animation-duration: 2s;
}

